header div.toggle {
    display: none;
    position: relative;
    height: 35px;
    cursor: pointer;
    aspect-ratio: 1/1;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1000;
}

header div.toggle span:nth-child(1) {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

header div.toggle span:nth-child(2) {
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

header div.toggle span:nth-child(3) {
    display: block;
    position: absolute;
    top: calc(100% - 2px);
    left: 0px;
}

header div.toggle span {
    height: 2px;
    width: 100%;
    background-color: black;
    transition-duration: 0.3s;
}

@media screen and (max-width: 1000px) {
    header {
        padding-right: 5%!important;
        padding-left: 5%!important;
    }

    header nav {
        display: none!important;
        position: absolute;
    }

    header div.toggle {
        display: block;
    }

    header.active nav {
        display: flex!important;
        animation-name: slide-in;
        animation-duration: 0.3s;
    }

    header.active div.toggle span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    header.active div.toggle span:nth-child(2) {
        opacity: 0;
    }

    header.active div.toggle span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}