@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: open-sans;
    src: url('/fonts/open-sans/regular.ttf');
}

* {
    font-family: open-sans;
}

body {
    overflow-x: hidden;
}

:root {
    --primary: rgb(59 130 246);
    --white: rgb(255 255 255);
}

/* selection */
::-moz-selection {
    color: var(--white);
    background: var(--primary);
}

::selection {
    color: var(--white);
    background: var(--primary);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}