$primary: #0d6efd;
$white: #fff;
$black: #000;
$green: #13ba3f;
$red: red;
$orange: darkorange;
$primary-alpha: #B6D3FF;
$font-size: 17px;
$header-size: 60px;
$footer-size: 60px;
$center-padding: 10vw;
$mobile: 1000px;
$mobile-center-padding: 5vw;