main fieldset {
    position: relative;
    display: block;
    width: 100%;
    padding-right: var(--center-padding);
    padding-left: var(--center-padding);
    box-sizing: border-box;
    border: none;
    border-top: 2px solid var(--black);
}

main fieldset legend {
    position: relative;
    display: block;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: -1vw;
    margin-bottom: 2vh;
    font-size: calc(var(--font-size) * 3);
}

main fieldset h1 {
    position: relative;
    display: block;
    margin-bottom: 2vh;
    font-size: calc(var(--font-size) * 2);
}

main fieldset p {
    position: relative;
    display: block;
    margin-bottom: 25px;
    text-align: justify;
}

main fieldset ul {
    margin-bottom: 25px;
}

@media screen and (max-width: 1000px) {
    main fieldset {
        padding-left: 20px;
        padding-right: 20px;
    }

    main fieldset legend {
        padding-right: 20px;
        padding-left: 10px;
        margin-left: -10px;
        margin-bottom: 2vh;
    }
}