@use "../variables.scss" as *;

fieldset.privacy {
    position: relative;
    display: block;
    padding: 0px $center-padding;
    border: none;
    border-top: 2px solid $black;

    legend {
        position: relative;
        display: block;
        padding: 0px 1.5vw;
        margin-left: -1.5vw;
        font-size: $font-size * 2.5;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
        text-align: justify;
    }

    h1 {
        margin-bottom: 15px;
        font-size: $font-size * 2;
    }

    ul {
        margin-left: 20px;
        margin-bottom: 10px;
    }
}


@media screen and (max-width: $mobile) {
    fieldset.privacy {
        padding: 0px $mobile-center-padding;

        legend {
            font-size: $font-size * 2;
        }

        h1 {
            font-size: $font-size * 1.5;
        }

        p {
            margin-bottom: 5px;
        }
    }
}