@use "../variables.scss" as *;

fieldset {
    position: relative;
    display: block;
    padding: 0px $center-padding;
    border: none;
    border-top: 4px solid $black;

    legend {
        position: relative;
        display: block;
        padding: 0px 1.5vw;
        margin-left: -1.5vw;
        font-size: $font-size * 2.5;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
        text-align: justify;
    }
}


@media screen and (max-width: $mobile) {
    fieldset {
        padding: 0px $mobile-center-padding;

        legend {
            font-size: $font-size * 2;
        }

        p {
            margin-bottom: 5px;
        }
    }
}